.option-header{
    background-color: #0188ff;
    width: 216px;
    height: 25px;
}

.option-menu{
    width: fit-content;
    position: absolute;
    right: 0;
}

.option-header > span{
    font-weight: bold;
    color: white;
}

.option-header{
    padding: 0px 10px;
}

.tool-bar-wrap{
    width: 85%;
}

.option-body{
    width: 216px;
    min-height: 250px;
    background-color: #eaeaea;
    padding: 10px;
}

#tool-bar > img{
    width: 55px;
}

.container{
    margin-left: 0;
}